<p>{{title | uppercase}}</p>
<p>{{title | lowercase}}</p>

<!-- Decmial or number pipe -->
<p>{{count|number}}</p>
<p>{{deval | number:'2.2-2'}}</p>
<!-- To give minimum and maximun after and before decimal -->
<!-- if decimal number is 0 then the actual number be rounded to  -->


{{curr | currency:'INR':true:'2.2-2'}}
{{curr | currency}}

{{date | date:'short'}} <br>
{{date | date:'shortDate'}} <br>
{{date | date:'shortTime'}} <br>
{{date | date:'medium'}} <br>
{{date | date:'mediumDate'}} <br>
{{date | date:'mediumTime'}} <br>
{{date | date:'long'}} <br>
{{date | date:'longDate'}} <br>
{{date | date:'longTime'}} <br>
{{date | date:'full'}} <br>
{{date | date:'fullDate'}} <br>
{{date | date:'fullTime'}} <br>

{{date | date:'dd/MM/yyyy'}} <br>
{{date | date:'dd-MM-yyyy'}} <br>
{{date | date:'dd.MM.yyyy'}} <br>
{{date | date:'dd/MM/yyyy hh:mm:ss'}} <br>
{{date | date:'dd-MM-yyyy hh:mm:ss'}}  <br> <br>
{{date | date:'dd.MM.yyyy hh:mm:ss'}} <br> <br>

{{date | date:'dd/MM/yyyy hh:mm:ss a'}} <br> <br>
{{date | date:'dd-MM-yyyy hh:mm:ss a'}} <br> <br>
{{date | date:'dd.MM.yyyy hh:mm:ss a'}} <br> <br>

{{date | date:'dd/MM/yyyy hh:mm:ss a Z'}} <br> <br>
{{date | date:'dd-MM-yyyy hh:mm:ss a Z'}} <br> <br>
{{date | date:'dd.MM.yyyy hh:mm:ss a Z'}} <br> <br>

{{date | date:'dd/MM/yyyy hh:mm:ss a Z':'UTC'}} <br> <br>
{{date | date:'dd-MM-yyyy hh:mm:ss a Z':'UTC'}} <br> <br>
{{date | date:'dd.MM.yyyy hh:mm:ss a Z':'UTC'}} <br> <br>

{{date | date:'dd/MM/yyyy hh:mm:ss a Z':'UTC':'en'}} <br> <br>
{{date | date:'dd-MM-yyyy hh:mm:ss a Z':'UTC':'en'}} <br> <br>
{{date | date:'dd.MM.yyyy hh:mm:ss a Z':'UTC':'en'}} <br> <br>

{{date | date:'dd/MM/yyyy hh:mm:ss a Z':'UTC':'en-US'}} <br> <br>
{{date | date:'dd-MM-yyyy hh:mm:ss a Z':'UTC':'en-US'}} <br> <br>
{{date | date:'dd.MM.yyyy hh:mm:ss a Z':'UTC':'en-US'}} <br> <br>

<!-- Date Pipe -->
