<!-- <app-navbar></app-navbar> -->
<!-- <app-post ></app-post>  Template Driven Form -->
<!-- <app-reactive-form></app-reactive-form>  Reactive Form -->

<h1>Angular Blog Site</h1>
<button routerLink="/" routerLinkActive="active">Home </button>
<button routerLink="/posts" routerLinkActive="active" [queryParams]="{page:1 ,orderBy:'newest'}">Post List</button>
<a routerLink="/posts">Post List</a>
<!-- <app-post-list></app-post-list> -->

<!-- Href tag will reload application but routerlink doesnot -->
<router-outlet></router-outlet>
